.row.mhn.mvxxl.txt-c
  a(href='https://docs.cloudfoundry.org/devguide/', target='_blank')
    img(src='/images/koscom_nia_nbp_logo.png', width='180', class="txt-b", alt='KOSCOM/NIA/NBP', title='KOSCOM/NIA/NBP')
    br
    span.txt-c.small.type-neutral-4
      | This is a Cloud Foundry sample application.
  div( data-ping='ping' style='display: none;')
